$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

nav {
  color: #fff;
}

body {
  text-align: center;
}

.resource-form {
  margin: auto;
  width: 400px;
}

.form-updategoal {
  margin: auto;
  width: 400px;
}

.signup-portal {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin-top: 150px;
}
